ft_gkrellm
.vscode
._*
*.o
*.ko
*.obj
*.elf
*.pyc

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Junk files
*.DS_Store
.AppleDouble
.LSOverride
.nfs*
